[Unit]
Description=Canva Monitor V2 Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/media/asanka/DATA/Canva_group/canva-monitor
ExecStart=/media/asanka/DATA/Canva_group/canva-monitor/venv/bin/python run.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
